<!-- following menu-->
<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="/" class="header item">
            <img class="logo"
                 src="https://upload-images.jianshu.io/upload_images/3424642-e507ac74fe4079e8.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240">
        </a>
        <a href="/" class="item">首页</a>
        <a href="/see" class="item">瞄一瞄</a>
        <a href="/search" class="item">搜索</a>
        <a href="/parse" class="item">解析</a>
        <a href="/tip" class="item">赞赏</a>
        <a href="/author" class="item">作者</a>
        <!--<a href="https://github.com/ChinaSilence/any-video" class="item" target="_blank">Github</a>-->
        <div class="right item">
            {{if .user}}
            <a class="ui inverted red button" href="/user">个人中心</a>
            {{else}}
            <a class="ui inverted olive button" href="/login">登录</a>
            {{end}}
        </div>
    </div>
</div>
<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a href="/" class="item">首页</a>
    <a href="/see" class="item">瞄一瞄</a>
    <a href="/search" class="item">搜索</a>
    <a href="/parse" class="item">解析</a>
    <a href="/tip" class="item">打赏</a>
    <a href="/author" class="item">作者</a>
    <!--<a href="https://github.com/ChinaSilence/any-video" class="item" target="_blank">Github</a>-->
    <div class="right item">
        {{if .user}}
        <a class="ui inverted red button" href="/user">个人中心</a>
        {{else}}
        <a class="ui inverted olive button" href="/login">登录</a>
        {{end}}
    </div>
</div>